<!--the parent AppComponent will tell the child HeroDetailComponent
which hero to display by binding its selectedHero to the hero property
of the HeroDetailComponent. The binding will look like this:-->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
<!--Putting square brackets around the hero property,
to the left of the equal sign (=), makes it the target of a property binding expression.
You must declare a target binding property to be an input property.
 Otherwise, Angular rejects the binding and throws an error.-->
